/* The RightJS Lightbox Stylesheets */
div.lightbox {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
}

div.lightbox div {
  line-height: normal;
}

div.lightbox-locker {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
}

div.lightbox-dialog {
  display: inline-block;
  * display: inline;
  * zoom: 1;
  vertical-align: middle;
  position: relative;
  text-align: left;
  padding-bottom: 1.6em;
}

div.lightbox-body-wrap {
  background-color: white;
  padding: 1em;
  border-radius: .6em;
  -moz-border-radius: .6em;
  -webkit-border-radius: .6em;
}

div.lightbox-body {
  position: relative;
  height: 10em;
  width: 10em;
  min-height: 10em;
  min-width: 10em;
  overflow: hidden;
}

div.lightbox-content {
  position: absolute;
}

div.lightbox-body-lock {
  background-color: white;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

div.lightbox-body-lock-loading {
  background-image: url('../images/spinner.gif');
  background-repeat: no-repeat;
  background-position: center center;
}

div.lightbox-body-lock-transparent {
  background: none;
}

div.lightbox-caption {
  margin-left: .7em;
  margin-bottom: .1em;
  white-space: nowrap;
  color: #DDD;
  font-weight: bold;
  font-size: 140%;
  font-family: Helvetica;
  text-shadow: black 2px 2px 2px;
}

div.lightbox-close-button, div.lightbox-prev-link, div.lightbox-next-link  {
  position: absolute;
  bottom: 0;
  color: #888;
  cursor: pointer;
  font-size: 150%;
  font-weight: bold;
}
div.lightbox-close-button:hover, div.lightbox-prev-link:hover, div.lightbox-next-link:hover {
  color: white;
}

div.lightbox-close-button {
  right: .5em;
}

div.lightbox-prev-link, div.lightbox-next-link {
  padding: 0 .2em;
  font-size: 180%;
}
div.lightbox-prev-link {
  left: .3em;
}

div.lightbox-next-link {
  left: 2em;
}


/* Lightbox.Photo styles */
div.lightbox-photo div.lightbox-body-wrap {
  padding: 0;
  border: 1px solid #777;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}
div.lightbox-photo div.lightbox-content img {
  vertical-align: middle;
}

div.lightbox-photo div.lightbox-caption {
  margin-left: .2em;
}

div.lightbox-photo div.lightbox-close-button {
  right: .2em;
}
div.lightbox-photo div.lightbox-prev-link {
  left: 0;
}