/* RESET */
*.r-tabs, *.r-tabs *.r-tabs-list, *.r-tabs *.r-tabs-tab, *.r-tabs *.r-tabs-panel,
*.r-tabs-scroll-left, *.r-tabs-scroll-right, *.r-tabs-scroll-body, *.r-tabs-panel-locker {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  list-style: none;
  display: block;
  width: auto;
  height: auto;
}

*.r-tabs {
  overflow: hidden; /* for fxed resizes */
  border-bottom: 1px solid #CCC;
}

/* basic tabs styles */
*.r-tabs-tab, *.r-tabs-tab a {
  display: block;
  float: left;
}
*.r-tabs-tab a {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #CCC;
  background: #DDD;
  color: #444;
  -moz-border-radius: .3em;
  -webkit-border-radius: .3em;
}
*.r-tabs-tab a:hover {
  border-color: #CCC;
  background: #EEE;
}
*.r-tabs *.r-tabs-list *.r-tabs-current a {
  font-weight: bold;
  color: #000;
  background: #FFF;
}
*.r-tabs-tab a img {
  border: none;
  opacity: .6;
  filter: alpha(opacity=60);
}
*.r-tabs-tab a:hover img, *.r-tabs *.r-tabs-list *.r-tabs-current a img {
  opacity: 1;
  filter: alpha(opacity=100);
}
*.r-tabs-disabled, *.r-tabs-disabled a, *.r-tabs-disabled a:hover {
  background: #EEE;
  border-color: #DDD;
  color: #AAA;
  cursor: default;
}
*.r-tabs-disabled a img, *.r-tabs-disabled a:hover img {
  opacity: .5;
  filter: alpha(opacity=50);
}

*.r-tabs-tab-close-icon {
  display: inline-block;
* display: inline;
* zoom: 1;
  margin-right: -0.5em;
  margin-left: 0.5em;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
*.r-tabs-tab-close-icon:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  color: #B00;
  text-shadow: #888 .15em .15em .2em;
}

/* the panels and locker styles */
*.r-tabs *.r-tabs-panel {
  display: none;
  position: relative;
  min-height: 4em;
  padding: .5em 0;
}
*.r-tabs *.r-tabs-current {
  display: block;
}

*.r-tabs-panel-locker {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.5;
  filter: alpha(opacity=50);
  background: #888;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 100%;
}
*.r-tabs-panel-locker-spinner {
  position: absolute;
  left: 44%;
  top: 44%;
}
*.r-tabs-panel-locker-spinner div {
  float: left;
  background: #444;
  width: .5em;
  height: 1em;
  margin-right: .1em;
  -moz-border-radius: .1em;
  -webkit-border-radius: .1em;
}
*.r-tabs-panel-locker-spinner div.glow {
  background: #CCC;
  height: 1.2em;
  margin-top: -0.1em;
}


/* the tabs scroller style */
*.r-tabs *.r-tabs-scroller {
  padding: 0 1.4em;
  position: relative;
  margin-bottom: .5em;
}
*.r-tabs *.r-tabs-scroller *.r-tabs-scroll-left,
*.r-tabs *.r-tabs-scroller *.r-tabs-scroll-right {
  width: 1.1em;
  text-align: center;
  background: #EEE;
  color: #888;
  cursor: pointer;
  border: 1px solid #DDD;
  -moz-border-radius: .2em;
  -webkit-border-radius: .2em;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
}
*.r-tabs *.r-tabs-scroller *.r-tabs-scroll-left:hover,
*.r-tabs *.r-tabs-scroller *.r-tabs-scroll-right:hover {
  color: #000;
  background: #DDD;
  border-color: #AAA;
}
*.r-tabs *.r-tabs-scroller *.r-tabs-scroll-right {
  left: auto;
  right: 0px;
}
*.r-tabs *.r-tabs-scroller *.r-tabs-scroll-body {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 50;
}
*.r-tabs *.r-tabs-scroller *.r-tabs-list {
  position: relative;
  width: 999em;
  margin: 0;
}


/* simple tabs style */
*.r-tabs-simple *.r-tabs-list {
  height: 2em;
  padding: 0 1em;
  border-bottom: 1px solid #CCC;
}
*.r-tabs-simple *.r-tabs-tab {
  margin-top: -1px;
  margin-right: 1px;
}
*.r-tabs-simple *.r-tabs-tab a {
  line-height: 1.8em;
  margin-top: .2em;
  padding: 0 1em;
  border-bottom: none;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
}
*.r-tabs-simple *.r-tabs-list *.r-tabs-current a {
  line-height: 200%;
  position: relative;
  margin-top: 1px;
}
*.r-tabs-simple *.r-tabs-scroller {
  border-bottom: 1px solid #CCC;
}
*.r-tabs-simple *.r-tabs-scroller *.r-tabs-scroll-left,
*.r-tabs-simple *.r-tabs-scroller *.r-tabs-scroll-right {
  line-height: 1.8em;
  top: .2em;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
}
*.r-tabs-simple *.r-tabs-scroller *.r-tabs-scroll-body {
  position: relative;
  top: 1px;
}
*.r-tabs-simple *.r-tabs-scroller *.r-tabs-scroll-body *.r-tabs-list {
  padding: 0;
}

/* carousel styles */
*.r-tabs-carousel *.r-tabs-list,
*.r-tabs-carousel *.r-tabs-tab a,
*.r-tabs-carousel *.r-tabs-scroller *.r-tabs-scroll-left,
*.r-tabs-carousel *.r-tabs-scroller *.r-tabs-scroll-right {
  height: 6em;
  line-height: 6em;
}
*.r-tabs-carousel *.r-tabs-tab {
  margin-right: 2px;
}
*.r-tabs-carousel *.r-tabs-tab a img {
  border: 1px solid #CCC;
  margin: .4em;
}
