*.r-tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  padding-top: 2em;
}
*.r-tabs > li, *.r-tabs > div {
  display: none;
  margin: 0;
  padding: .5em;
  border-top: 1px solid #DDD;
}
*.r-tabs > li.r-tabs-current, *.r-tabs > div.r-tabs-current {
  display: block;
}

*.r-tabs > ul {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0 .5em;
  list-style: none;
  background: none;
  border: none;
  display: block;
  height: 2em;
}

*.r-tabs > ul li {
  float: left;
  margin: 0;
  padding: 0;
  background: none;
}
*.r-tabs > ul li a {
  cursor: pointer;
  display: block;
  text-decoration: none;
  border: 1px solid #CCC;
  border-bottom: none;
  height: 1.8em;
  line-height: 1.8em;
  margin: 0;
  margin-top: .2em;
  padding: 0 1em;
  background: #DDD;
  color: #444;
  -moz-border-radius: .3em;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-radius: .3em;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
}
*.r-tabs > ul li a:hover {
  border-color: #AAA;
  background: #EEE;
}
*.r-tabs > ul li.r-tabs-current a {
  height: 2em;
  line-height: 2em;
  margin-top: 0;
  font-weight: bold;
  color: #000;
  background: #FFF;
}


/* Tabs variants */
*.r-tabs-bottom {
  padding: 0;
  padding-bottom: 2em;
}
*.r-tabs-bottom > ul {
  top: auto;
  bottom: 0;
}
*.r-tabs-bottom > ul li a {
  margin-top: -1px;
  border: 1px solid #CCC;
  border-top: none;
  -moz-border-radius: .3em;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-radius: .3em;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
}
*.r-tabs-bottom > ul li.r-tabs-current a {
  margin-top: -1px;
}
*.r-tabs-bottom > li, *.r-tabs-bottom > div {
  border: none;
  border-bottom: 1px solid #DDD;
}

*.r-tabs-left {
  padding: 0;
}
*.r-tabs-left > ul {
  position: static;
  float: left;
  border: none;
  border-right: 1px solid #CCC;
  padding: .5em 0;
  margin-right: .5em;
  height: auto;
}
*.r-tabs-left > ul li {
  float: none;
}
*.r-tabs-left > ul li a {
  margin: 0;
  margin-left: .2em;
  height: 2em;
  line-height: 2em;
  border: 1px solid #CCC;
  border-right: none;
  -moz-border-radius: .3em;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-radius: .3em;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
}
*.r-tabs-left > ul li.r-tabs-current a {
  margin: 0;
  margin-right: -1px;
}
*.r-tabs-left > li, *.r-tabs-left > div {
  border: none;
}


*.r-tabs-right {
  padding: 0;
}
*.r-tabs-right > ul {
  position: static;
  float: right;
  border: none;
  border-left: 1px solid #CCC;
  padding: .5em 0;
  margin-left: .5em;
  height: auto;
}
*.r-tabs-right > ul li {
  float: none;
}
*.r-tabs-right > ul li a {
  margin: 0;
  margin-right: .2em;
  height: 2em;
  line-height: 2em;
  border: 1px solid #CCC;
  border-left: none;
  -moz-border-radius: .3em;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-radius: .3em;
  -webkit-border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
}
*.r-tabs-right > ul li.r-tabs-current a {
  margin: 0;
  margin-left: -1px;
}
*.r-tabs-right > li, *.r-tabs-right > div {
  border: none;
}